<div class="container">
  <p><%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-primary" %></p>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li>
        <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
        <p><%= restaurant.category %>, Tel: <%= restaurant.phone_number %></p>
        <p>Address: <%= restaurant.address %></p>
      </li>
    <% end %>
  </ul>
</div>
